*.o
*.la
*.lo
tags
.deps
.libs
/LOG
/Makefile
/Makefile.in
/REVISION
/aclocal.m4
/autom4te.cache
/compile
/config.example
/config.guess
/config.h
/config.h.in
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libltdl
/libtool
/ltmain.sh
/missing
/moc-*.tar.?z*
/moc.spec
/mocp
/mocp_client_log
/mocp_server_log
/stamp-h1
/decoder_plugins/Makefile
/decoder_plugins/Makefile.in
/decoder_plugins/aac/Makefile.in
/decoder_plugins/aac/Makefile
/decoder_plugins/ffmpeg/Makefile
/decoder_plugins/ffmpeg/Makefile.in
/decoder_plugins/flac/Makefile
/decoder_plugins/flac/Makefile.in
/decoder_plugins/modplug/Makefile
/decoder_plugins/modplug/Makefile.in
/decoder_plugins/mp3/Makefile
/decoder_plugins/mp3/Makefile.in
/decoder_plugins/musepack/Makefile
/decoder_plugins/musepack/Makefile.in
/decoder_plugins/sidplay2/Makefile
/decoder_plugins/sidplay2/Makefile.in
/decoder_plugins/sndfile/Makefile
/decoder_plugins/sndfile/Makefile.in
/decoder_plugins/speex/Makefile
/decoder_plugins/speex/Makefile.in
/decoder_plugins/timidity/Makefile
/decoder_plugins/timidity/Makefile.in
/decoder_plugins/vorbis/Makefile
/decoder_plugins/vorbis/Makefile.in
/decoder_plugins/wavpack/Makefile
/decoder_plugins/wavpack/Makefile.in
/m4/ltsugar.m4
/m4/argz.m4
/m4/ltargz.m4
/m4/libtool.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltdl.m4
/themes/Makefile
/themes/Makefile.in
